
$titleButton:#0E0E10;
$title: #111827;
$muted: #666;
$grey: #55555C;
$border: #D3D3DE;
$white: #F1F4FD;
$whiteTable: #FFFFFF;
$buttonBg: #33D35E;
$buttonPage: #F0F0F7;
$colorRecordText: #687588;
$radius: 8px;


$break-mobile: 700px;
$break-tablet: 1024px;